body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo{
    width: 45%;height: 45%;
}

@media (max-width : 375px) {
    .logo{
        width: 75%;height: 75%;
    }
    .returning-member{
        margin: 0px;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 800px;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.buttons-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.btn {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.new-member {
    background-color: #0056b3;
    color: white;
    width: 100%;
}

.returning-member {
    background-color: rgb(64,64,64);
    width: 50%;
    color: white;
}

.btn:hover {
    transform: scale(1.05);
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=text], input[type=tel], input[type=email] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding-top: 25px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:100%;
}

button[type=submit]:hover {
    background-color: #45a049;
} 





.blog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 123, 255, 0.8);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.blog-header h1 {
    margin: 0;
    font-size: 1.8rem;
    flex-grow: 1;
}

.back-button {
    margin-left: auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}


.back-button:hover {
    background-color: #003d82;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 100px 20px 20px; /* Add top padding to ensure content doesn't hide behind the fixed header */
}

.blog-card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: center;
}

.blog-card:hover {
    transform: scale(1.05);
}

.blog-card h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #007BFF;
}

.blog-card p {
    font-size: 1rem;
    margin: 10px 0;
    color: #333;
}

.read-more {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28A745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #218838;
}